@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 16px Quicksand, serif, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.6);
  font-family: Quicksand, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.50rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.15rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: .75rem;
}

img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .home-section {
    height: 100vh;
  }

  .page-accueil .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .page-accueil .snap-y {
    --scroll-snap-direction: y;
  }
  .page-accueil .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .page-accueil .snap-start {
    scroll-snap-align: start;
  }
}
